<div class="post_container">
  <% @post.each do |post| %>
      <div class="cards">
        <div class="card">
          <div class="card-header">
            <%= truncate(post.title, length: 23) %>
          </div>
          <div class="card-image">
            <a href="<%= post_path(post) %>">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
            </a>
          </div>
          <div class="card-bottom">
            temp stuff here
          </div>
        </div>
        <div class="card_copy">
          <%= link_to post.user.username, profile_path(post.user) %>
        </div>
      </div>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @post %>
</div>
