<div class="card_head">
    <h1><%= @post.title %></h1>
    <small>by <%= @post.user.email %> | </small> <% if @post.user %><%= link_to "Edit", edit_post_path %><% end %>
</div>
<div class="post_image">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
</div>


  <p>
    <%= @post.content %>
  </p>
  <hr>
