.pagination {
  @include span-columns(12);
  //background: #f1f1f1;
  //border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.3em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    color: #E86798;
    font-weight: bold;
    display: inline-block;
    height: 1.4em;
    line-height: 1.5;
    padding: 0 0.2em;
    //-moz-border-radius: 1em;
    //-webkit-border-radius: 1em;
    //border-radius: 1em;
    //text-shadow: rgba(#989898, 0.8) 1px 0 0.5px;
  }
  a {
    text-decoration: none;
    color: #787878;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
