.post_image {
	//height: 750px;
	overflow: hidden;
  margin-bottom: 2rem;
	img {
		width: 100%;
		max-width: 900px;
    border: 1px solid #C2C2C2;
		border-radius: .5rem;
	}
}

.card_head {
	margin-bottom: 2rem;
	h1 {
		font-size: 2.5vmin;
		margin: 0 0 4px;
	}
	small {
		font-weight: 500;
		font-size: 1.5vmin;
		color: #989898;
	}
}

.post_content {
	padding-bottom: 4rem;
}

.response {
	hr {
	border: 1.5px solid #C2C2C2;
	margin-top: 3px;
	}

	h2 {
		font-size: 2vmin;
		margin-bottom: 0;
		color: #333333;
	}
}
//Comments
.comments {
	small {
		color: #999999;
		font-weight: 500;
	}
	h3 {
		margin-bottom: 2px;
	}
	p{

		margin-bottom: 8px;
	}

}
