.followers {
  width: 100%;
  text-align: center;
  color: #787878;
  margin-bottom: 5px;
  font-size: 1.5vmin;
  span {
    margin: 0 3px;
  }
}

.profile_head {
  text-align: center;
  h1 {
    font-size: 2.5vmin;
  }
  h2 {
    color: #787878;
    font-size: 2.5vmin;
    margin-bottom: 10px;
    font-weight: normal;
  }
  span {
    i{
      margin-right: 3px;
    }
    color: #787878;
    margin: 0 8px 0 8px;
  }
}
