.row-wrapper {
  //@include fill-parent();
  background-color: #EFEFEF;
}

.container {
  @include outer-container;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: inherit;
}

body {
  margin: 0 0 0 0;
  background-color: #EFEFEF;
}

fieldset img {
  text-align: center;
}

.footer-2 {
  //height: 20%
  //margin: 0 0 0 0;
}

.search-bar {
  #search {
    border-radius: 4px;
  }
}

.medium_avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #A8A8A8;
}

.small_avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
