.row-wrapper {
  //@include fill-parent();
  background-color: #EFEFEF;
  //height: 100%;
}

.container {
  @include outer-container;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: inherit;
}

.post_title {
  h1 {
    text-align: center;
  }
}

body {
  margin: 0 0 0 0;
  background-color: #EFEFEF;
}

fieldset img {
  text-align: center;
}

.footer-2 {
  //height: 20%
  //margin: 0 0 0 0;
}

.search-bar {
  #search {
    border-radius: 4px;
  }
}
