<footer class="footer" role="contentinfo">
    <ul>
      <li>Drubbble - Because Clones have Feelings Too.</li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><%= link_to "Github", "http://github.com/diope" %></li>
        <li><%= link_to "Twitter", "http://twitter.com/dipet_low" %></li>
        <li><%= link_to "Email", "mailto:dkpe@dipet.me" %></li>
      </ul>
    </div>
</footer>
